<div class= "card-form-table mt-5 rounded-3 d-flex flex-column align-items-center">
  <h1 class="text-center mb-2"><%= t('new.coin') %></h1>

  <%= render "form", coin: @coin %>

  <%= link_to t('links.back'), coins_path, class:"btn btn-form" %>
</div>
